<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0np0BiZPQoU05j8kUt8Kn5zhIZj-5ds0</string>
	<key>GCM_SENDER_ID</key>
	<string>593098836626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.foodconnect</string>
	<key>PROJECT_ID</key>
	<string>food-connect-hfs</string>
	<key>STORAGE_BUCKET</key>
	<string>food-connect-hfs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593098836626:ios:f03084039559c37707b44b</string>
</dict>
</plist>